.register {
  background: linear-gradient(236deg,#2d646c,#517d89,#dfe7e8,#9db7c8);
  background-size: 240% 240%;
  animation: gradient-animation 36s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.register {
    
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Varela', sans-serif;
  }
  
  .registerTitle {
    font-size: 50px;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius:15px;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  
  .registerLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
  }